.container {
    display: flex;
}

.container-2 {
    display: flex;
    align-items: flex-end;
}

.foto {
    height: 30vh;
    flex-grow: 1;
    margin: 1em;
}

.foto-2 {
    height: 42vh;
    flex-grow: 1;
    margin: 1em;
    
}

img {
    max-height:100%;
    min-width: 100%;
    object-fit: cover;
}
  
* {
    box-sizing: border-box; 
}

#div {
    display: flex; 
    flex-direction: row; 
    margin: 0;
}

nav {
    background-color: pink; 
    align-items: stretch; 
    width: 25%;
}

#div-2 {
    display: flex; 
    min-height: 100vh; 
    flex-direction: column; 
    margin: 0;
}

header, footer {
    background-color: olive; 
    width: 1000px; 
    height: 100px;
}

#main {
    display: flex; 
    flex: 1;
}

.article {
    order: 1; 
    flex: 1; 
    
}

.aside {
    background-color: aqua; 
    order: 2;
    flex: 0 0 20vw; 
}

nav, header, footer, article, aside {
    padding: 1em;
}

